<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="baitapnhom.Properties.Settings.quanlythuesachConnectionString"
            connectionString="Data Source=DESKTOP-6TI18BN\SQLEXPRESS;Initial Catalog=quanlythuesach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>